@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@400;500;600;700&display=swap');
:root{
    --background-main : #6793B5;
    --second-color: #DAE6FA;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-main);
}

.login-form{  
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 35%;
   padding: 25px;
   border-radius: 10px;
   background-color: var(--second-color);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-form  button{  
    padding: 5px 15px;
   margin: 10px 0px;  
   background-color: var(--background-main);
   border: none;
   color: white;
   font-size: 20px;
   font-weight: 500;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
   cursor: pointer;
 }

 .login-form  button:hover{  
    background-color: #6793b5a4;
 }
 
 

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px;  
    width: 80%;
}

.register-form h3{
    display: flex;
  font-size: 30px; 
}

.register-form > div{
   width: 100%;
   display: flex;
   align-content: center;
   background-color: white;
   padding: 5px;
   border-radius: 5px;
}

.register-form input{
    width: 100%;
    border: none;
    margin-left: 5px;
    outline: none;
 }
 
 .register-form p{  
    margin-top: 2px;
  font-size: 14px; 
}

.register-form p a{  
    cursor: pointer;
   color: var(--background-main);
   font-weight: 500;
  }
  

.message-login{
   background-color: #fc6c6c;
   display: none;
   padding: 10px;
   margin-bottom: 4px;
   border-radius: 10px;
   color: white;
   font-weight: 700;
}

.register-message{
background-color: green!important;
display: block !important;
}